GK_DEFAULT_NAME="John Doe"
GK_DEFAULT_USERNAME=John
GK_DEFAULT_PASSWORD=password
PMA_USER=root
MYSQL_ROOT_PASSWORD=changeme
PMA_PASSWORD=changeme
MYSQL_DATABASE=gatekeeper
GK_SERVER_SOFTWARE=gatekeeper
