" gatekeeper accessible at http(s)://gatekeeper.example.com/
[main]
Domain = example.com
Subdomain = gatekeeper
SecretKey = changeme
Debug = no
AllowRegistration = yes

" application accessible at http(s)://app.gatekeeper.example.com/

[routes]
app = http://127.0.0.1:3000/

[public-routes]
uspsbot = http://localhost:11001
