[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
wtforms = "*"
requests = "*"
passlib = "*"
pony = "*"
gunicorn = "*"
gevent = "*"
htmlmin = "*"
tldextract = "*"
pymysql = "*"

[dev-packages]
vulture = "*"
"flake8" = "*"
isort = "*"
neovim = "*"
pylint = "*"
yapf = "*"

[requires]
python_version = "3"
