{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/external/material.min.css">
    <link rel="stylesheet" href="/static/style-login.css">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li style="text-align: center; border:1px solid #FF0000;background-color:#FFDDDD">{{ message }}</li>
        {% endfor %}
        {% endif %}
      </ul>
      {% endwith %}
      <div id="login-container" class="mdl-card mdl-shadow--16dp">
        <div class="mdl-card__supporting-text">
          <form action="" method="POST">
            {{ form.csrf_token }}
            <div id="login-fab" class="mdl-color--accent mdl-color-text--white">
              <i id="lock-icon" class="material-icons">lock</i>
            </div>
            <div id="card-heading">
              Login
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              {{ render_field(form.username) }}
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              {{ render_field(form.password) }}
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              {{ render_field(form.otp, autocomplete="off") }}
            </div>
            <button type="submit" id="login-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">
              Login
            </button>
          </form>
        </div>

        <div class="mdl-card__actions">
          {% if allow_registration %}
          <a href="{{ url_for('register') }}" class="mdl-button mdl-js-button mdl-button--primary">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
    <script defer src="/static/external/material.min.js"></script>
  </body>
</html>
